*{
   margin:0;
   padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}



body{
    
    margin: 0 30px 0 30px;
    flex-wrap: wrap;
}

.portada img{
    width: 100%;
    display: flex;

}


/*Menu Desplegable*/

div {
		margin:0px;
        padding:0px;
        top: 30%;
	}
			
#header {
    margin:auto;
	width:80%;
    font-family:Arial, Helvetica, sans-serif;
    top: 40px;
    background: gray;
    
}
#header{
    flex: 1;
}
			
div ul, ol {
	list-style:none;
}
    

nav{
    padding:0 0 0 15%;
    display: inline-block;
    margin: auto;
   
}

.nav > li {
    float:left;
    margin: 10px;
}
			
.nav li a {
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}
			
.nav li a:hover {
	background-color:#434343;
}
			
.nav li ul {
	display:none;
	
	min-width:140px;
}
			
.nav li:hover > ul {
	display:block;
}
.responsive li{
    display: block;
}

/*contenedor principal*/

.Contenedor{
  
   width: 100%;      
  padding: 10px 0 30px 0; 
   text-align:center;
  /* display: flex;
   /*flex-wrap: wrap;*/
     
     
}
.Contenedor > div{
    flex: 1;
}

/*Letras*/
/*h1{
    text-align: center;
    font-size: 2rem;
    margin:0 0 20px 0;
    padding: 0 0 0 0;
    
}*/
.encabezado{
    width: 100%;
    margin: 20px;
    text-align: center;
    font-size: 1rem;
    margin:0 0 20px 0;
    padding: 0 0 0 0;
}

/*Tamanio de imagenes */

.producto img{
    width: 300px;
    height: 200px;

}

.producto{
    display:inline-block;
}

.producto:hover{
    opacity: 0.5 ;
    background-color: gray;
}

.producto p{
    text-align: center;
}

/*Fila 1*/
.Fila1{
    width: 95%;  
    height: 30%;
    padding: 5% 0 0 5%;   
    flex-direction: row;
    
}
.Fila1 div{
    margin-left: 5%;
}

/*Fila 2*/
.Fila2{
    width: 95%;
    height: 30%;
    padding: 5% 0 0 5%;   
    /*flex-direction: row;*/

}
.Fila2 div{
    margin-left: 5%;
}
/*Fila 3*/
.Fila3{
    width: 95%;
    height: 30%;
    padding: 5% 0 0 5%;
   /* flex-direction: row;*/

}
.Fila3 div{
    margin-left: 5%;
}

/*Fila 4*/
.Bioseguridad{
  
   width: 100%;      
   margin: 30px 0 0 0;
   padding: 0px 0 30px 0;
   text-align: center; 
   /*display: flex;*/
     
}



.Fila4{
    width: 95%;
    padding: 5% 0 0 5%;
    display: inline-block;
    

}
.Fila4 div{
    margin-left: 5%;
}
footer{
    width: 100%;
    background: #202020;
    color: white;      
}


.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    
}

.container-body{
    
    justify-content: space-between;
   
    flex-flow:wrap row;
}

.colum1{
    max-width: 30%;
    
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 30%;
    
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 30%;
    
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}